<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212310974231-42ifqa2oek6b5e4csqug2nroaik1g2c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212310974231-42ifqa2oek6b5e4csqug2nroaik1g2c9</string>
	<key>API_KEY</key>
	<string>AIzaSyDGQHx6wNv01VY_v2PikLK6mTLQ9AdODYI</string>
	<key>GCM_SENDER_ID</key>
	<string>212310974231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amanwadhwa.HospitalFinder</string>
	<key>PROJECT_ID</key>
	<string>hospitallocator-d691c</string>
	<key>STORAGE_BUCKET</key>
	<string>hospitallocator-d691c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212310974231:ios:d4a0e39d7e70747be16152</string>
	<key>DATABASE_URL</key>
	<string>https://hospitallocator-d691c.firebaseio.com</string>
</dict>
</plist>